In [67]:
import pandas as pd
import numpy as np

In [68]:
# box office data collected from: https://www.boxofficemojo.com/year/world/2017/?grossesOption=totalGrosses
data = pd.read_csv("BoxOffice.csv")

In [69]:
data.head(10)

,Year,Rank,Movie,Worldwide,Domestic,%Domestic,Foreign,%Foreign
0,2019,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.70%,"$1,939,427,564",69.30%
1,2019,2,The Lion King,"$1,655,146,969","$543,486,894",32.80%,"$1,111,660,075",67.20%
2,2019,3,Spider-Man: Far from Home,"$1,131,845,802","$390,532,085",34.50%,"$741,313,717",65.50%
3,2019,4,Captain Marvel,"$1,128,274,794","$426,829,839",37.80%,"$701,444,955",62.20%
4,2019,5,Toy Story 4,"$1,073,163,682","$433,952,080",40.40%,"$639,211,602",59.60%
5,2019,6,Aladdin,"$1,050,693,953","$355,559,216",33.80%,"$695,134,737",66.20%
6,2019,7,Joker,"$988,735,635","$315,735,635",31.90%,"$673,000,000",68.10%
7,2019,8,Fast & Furious Presents: Hobbs & Shaw,"$758,910,100","$173,810,100",22.90%,"$585,100,000",77.10%
8,2019,9,Ne Zha,"$700,547,754","$3,695,533",0.50%,"$696,852,221",99.50%
9,2019,10,The Wandering Earth,"$699,760,773","$5,875,487",0.80%,"$693,885,286",99.20%

In [70]:
data.shape

(1200, 8)

In [71]:
data['Year'] = data['Year'].astype(int)

In [72]:
col_names = ['Worldwide', 'Domestic', 'Foreign']
col_names2 = ['%Domestic', "%Foreign"]

for col in col_names:
    data[col] = data[col].apply(lambda x: x[1:].replace(',', ''))
    
for col in col_names2:
    data[col] = data[col].apply(lambda x: x[:-1])

In [73]:
data.head()

,Year,Rank,Movie,Worldwide,Domestic,%Domestic,Foreign,%Foreign
0,2019,1,Avengers: Endgame,2797800564,858373000,30.70,1939427564,69.30
1,2019,2,The Lion King,1655146969,543486894,32.80,1111660075,67.20
2,2019,3,Spider-Man: Far from Home,1131845802,390532085,34.50,741313717,65.50
3,2019,4,Captain Marvel,1128274794,426829839,37.80,701444955,62.20
4,2019,5,Toy Story 4,1073163682,433952080,40.40,639211602,59.60

In [74]:
data.to_csv("BoxOffice_clean.csv")