In [1]:
import pandas as pd
import numpy as np

In [3]:
! ls ../raw/

BoxOffice.csv              all_characters_data.csv
BoxOffice.xlsx             endgame.csv
all_character_pages.json   genre_and_reviews_omdb.csv

In [6]:
df = pd.read_csv('../raw/endgame.csv')
df.head()

     Market Release Date        Opening          Gross
0       USA    26-Apr-19  $357,115,007   $858,373,000
1   Austria    24-Apr-19    $3,563,042     $8,376,632
2   Belgium    24-Apr-19    $3,141,578     $8,682,740
3  Bulgaria    26-Apr-19      $442,037     $1,469,984
4   Croatia    25-Apr-19      $545,732     $1,144,369

In [13]:
df['Opening'] = df['Opening'].apply(lambda x: x[1:].replace(',',''))
df['Gross'] = df['Gross'].apply(lambda x: x[1:].replace(',',''))

In [14]:
df.head()

     Market Release Date     Opening       Gross
0       USA    26-Apr-19  357115007   858373000
1   Austria    24-Apr-19    3563042     8376632
2   Belgium    24-Apr-19    3141578     8682740
3  Bulgaria    26-Apr-19     442037     1469984
4   Croatia    25-Apr-19     545732     1144369

In [16]:
name_mapping = {
    'USA': 'United States of America',
    'Czech Republic': 'Czechia',
    'Serbia and Montenegro': 'Serbia',
    'United Kingdom' : 'United Kingdom of Great Britain and Northern Ireland',
    'Bolivia' : 'Bolivia (Plurinational State of)',
    'Venezuela': 'Venezuela (Bolivarian Republic of)',
    'Russia/CIS': 'Russian Federation',
    'South Korea': 'Korea, Republic of',
    'Taiwan': 'Taiwan, Province of China',
    'Vietnam': 'Viet Nam',
}

def map_countries(x):
    if x in name_mapping:
        return name_mapping[x]
    return x

In [17]:
df['Market'] = df['Market'].apply(lambda x: map_countries(x))

In [19]:
df.to_csv('../clean/endgame_clean.csv')