In [253]:
import pandas as pd
import numpy as np

In [254]:
# ! ls ../raw/

In [255]:
# df = pd.read_csv('../raw/endgame.csv')
# df.head()

In [256]:
# df['Opening'] = df['Opening'].apply(lambda x: x[1:].replace(',',''))
# df['Gross'] = df['Gross'].apply(lambda x: x[1:].replace(',',''))

In [257]:
# df.head()

In [258]:
# name_mapping = {
#     'Domestic': 'United States of America',
#     'Czech Republic': 'Czechia',
#     'Serbia and Montenegro': 'Serbia',
#     'United Kingdom' : 'United Kingdom of Great Britain and Northern Ireland',
#     'Bolivia' : 'Bolivia (Plurinational State of)',
#     'Venezuela': 'Venezuela (Bolivarian Republic of)',
#     'Russia/CIS': 'Russian Federation',
#     'South Korea': 'Korea, Republic of',
#     'Taiwan': 'Taiwan, Province of China',
#     'Vietnam': 'Viet Nam',
# }

# def map_countries(x):
#     if x in name_mapping:
#         return name_mapping[x]
#     return x

In [259]:
# df['Market'] = df['Market'].apply(lambda x: map_countries(x))

In [260]:
# df.to_csv('../clean/endgame_clean.csv')

In [261]:
# fnames = ! ls ../raw/map-data/DC

In [262]:
# fnames

In [263]:
# fnames1 = ! ls ../raw/map-data/DC
fnames2 = ! ls ../raw/map-data/Marvel

In [264]:
fnames = [fnames2]
# fnames = [fnames1, fnames2]
fnames

[['Ant-Man.csv',
  'Ant-Man_and_the_Wasp.csv',
  'Avengers_Age_of_Ultron.csv',
  'Avengers_Endgame.csv',
  'Avengers_Infinity_War.csv',
  'Black_Panther.csv',
  'Captain_America_Civil_War.csv',
  'Captain_America_The_First_Avenger.csv',
  'Captain_America_The_Winter_Soldier.csv',
  'Captain_Marvel.csv',
  'Doctor Strange.csv',
  'Guardians_of_the_Galaxy.csv',
  'Guardians_of_the_Galaxy_Vol2.csv',
  'Iron_Man.csv',
  'Iron_Man_2.csv',
  'Iron_Man_3.csv',
  'Spider-Man_Far_from_Home.csv',
  'Spider-Man_Homecoming.csv',
  'The_Avengers.csv',
  'The_Incredible_Hulk.csv',
  'Thor.csv',
  'Thor_Ragnarok.csv',
  'Thor_The_Dark_World.csv']]

In [265]:
name_mapping = {
    'Domestic': 'United States of America',
    'Czech Republic': 'Czechia',
    'Serbia and Montenegro': 'Serbia',
    'United Kingdom' : 'United Kingdom of Great Britain and Northern Ireland',
    'Bolivia' : 'Bolivia (Plurinational State of)',
    'Venezuela': 'Venezuela (Bolivarian Republic of)',
    'Russia/CIS': 'Russian Federation',
    'South Korea': 'Korea, Republic of',
    'Taiwan': 'Taiwan, Province of China',
    'Vietnam': 'Viet Nam',
}

def map_countries(x):
    if x in name_mapping:
        return name_mapping[x]
    return x

In [266]:
dfs = []
# folders = ['DC', 'Marvel']
folders = ['Marvel']
movie_to_rev = {}
all_countries = set()
for fname, folder in zip(fnames, folders):
    for f in fname:
        print(f)
        df1 = pd.read_csv('../raw/map-data/{}/{}'.format(folder, f))
        df1.columns = ['Market','Date','Opening','Gross']
        df1 = df1[(df1['Market'] != 'Market') & (df1['Market'] != 'Europe, Middle East, and Africa')]
        df1 = df1[~df1['Date'].isna()]
        df1['Opening'] = df1['Opening'].apply(lambda x: x[1:].replace(',',''))
        df1['Gross'] = df1['Gross'].apply(lambda x: x[1:].replace(',',''))
        df1['Market'] = df1['Market'].apply(lambda x: map_countries(x))
        
#         print(f)
        movie_to_rev[f] = {}
        for k, v in df1.iterrows():
            market = v['Market']
            movie_to_rev[f][market] = v['Gross']
            
        all_countries = all_countries | set(df1['Market'])
        
#         dfs.append(df1)

Ant-Man.csv
Ant-Man_and_the_Wasp.csv
Avengers_Age_of_Ultron.csv
Avengers_Endgame.csv
Avengers_Infinity_War.csv
Black_Panther.csv
Captain_America_Civil_War.csv
Captain_America_The_First_Avenger.csv
Captain_America_The_Winter_Soldier.csv
Captain_Marvel.csv
Doctor Strange.csv
Guardians_of_the_Galaxy.csv
Guardians_of_the_Galaxy_Vol2.csv
Iron_Man.csv
Iron_Man_2.csv
Iron_Man_3.csv
Spider-Man_Far_from_Home.csv
Spider-Man_Homecoming.csv
The_Avengers.csv
The_Incredible_Hulk.csv
Thor.csv
Thor_Ragnarok.csv
Thor_The_Dark_World.csv

In [267]:
country_list = list(all_countries)
country_list

['North Macedonia',
 'Slovenia',
 'Iceland',
 'Middle East Other',
 'Germany',
 'Hong Kong',
 'Peru',
 'Romania',
 'Hungary',
 'Greece',
 'South Africa',
 'Jamaica',
 'Netherlands',
 'Czechia',
 'Kuwait',
 'Philippines',
 'Portugal',
 'Thailand',
 'Trinidad & Tobago',
 'Paraguay',
 'Switzerland (Italian)',
 'Slovakia',
 'Poland',
 'Bahrain',
 'Nigeria',
 'Lithuania',
 'Russia',
 'Bolivia (Plurinational State of)',
 'Colombia',
 'Chile',
 'Oman',
 'East Africa',
 'Belgium',
 'Panama',
 'Korea, Republic of',
 'Switzerland (German)',
 'Israel',
 'Finland',
 'Malaysia',
 'Indonesia',
 'Ireland',
 'Ecuador',
 'Uruguay',
 'Ghana',
 'China',
 'Switzerland (French)',
 'Ukraine',
 'Bulgaria',
 'Russian Federation',
 'Jordan',
 'Turkey',
 'Qatar',
 'Dominican Republic',
 'Venezuela (Bolivarian Republic of)',
 'Sweden',
 'Singapore',
 'United States of America',
 'Taiwan, Province of China',
 'India',
 'Viet Nam',
 'United Arab Emirates',
 'Kenya',
 'Estonia',
 'Switzerland',
 'Argentina',
 'Japan',
 'United Kingdom of Great Britain and Northern Ireland',
 'New Zealand',
 'Cyprus',
 'Croatia',
 'Egypt',
 'Serbia',
 'Latvia',
 'Mongolia',
 'Australia',
 'Central America+',
 'Italy',
 'Lesser Antilles',
 'Mexico',
 'Czech Republic/Slovakia',
 'Pakistan',
 'Norway',
 'Lebanon',
 'Aruba',
 'Spain',
 'France',
 'Denmark',
 'South Africa/Nigeria',
 'Brazil',
 'Austria']

In [268]:
movie_to_list = {}
for movie in movie_to_rev.keys():
    entries = []
    for k in country_list:
        if k in movie_to_rev[movie]:
            entries.append(movie_to_rev[movie][k])
        else:
            entries.append(0)
    movie_to_list[movie] = entries

In [269]:
movie_keys = list(movie_to_list.keys())

In [270]:
movie_keys[0]

'Ant-Man.csv'

In [271]:
a = 'Avengers_Endgame'
a.replace('_',' ')

'Avengers Endgame'

In [272]:
df_all = pd.DataFrame(country_list, columns=['Country'])
for movie in movie_keys:
    movie_formatted = movie.split('.')[0]
    movie_formatted = movie_formatted.replace('_',' ')
    df_all[movie_formatted] = movie_to_list[movie]
df_all

,Country,Ant-Man,Ant-Man and the Wasp,Avengers Age of Ultron,Avengers Endgame,Avengers Infinity War,Black Panther,Captain America Civil War,Captain America The First Avenger,Captain America The Winter Soldier,...,Iron Man,Iron Man 2,Iron Man 3,Spider-Man Far from Home,Spider-Man Homecoming,The Avengers,The Incredible Hulk,Thor,Thor Ragnarok,Thor The Dark World
0,North Macedonia,0,0,0,0,0,0,0,0,0,...,,0,0,0,0,0,0,0,0,0
1,Slovenia,35601,74081,122335,611641,325818,213891,104910,68827,80914,...,88033,122290,178149,240848,104236,163737,60156,122992,188184,148061
2,Iceland,183341,233790,371887,749185,688359,499124,337237,203750,234458,...,278202,198156,379577,363212,331584,502028,152733,261866,480305,306525
3,Middle East Other,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1394480,0,0,0
4,Germany,5917308,9424892,31193932,64319294,45398141,23392484,21770093,4872496,12477139,...,8560475,9254348,24368143,19415724,11664461,30828359,2461403,16007303,19036145,20356156
5,Hong Kong,6992049,7663339,17155906,29330722,20585253,8636071,15473511,2496989,7292579,...,2844618,3760485,13705128,11572556,9080755,12468825,1603230,2490495,7003816,4730882
6,Peru,2883625,0,7025935,0,0,0,0,2388006,3045013,...,1521193,1862616,5794748,5366523,5205100,8523744,1194068,1970451,0,4040720
7,Romania,0,721491,1137226,3376295,2494062,1927259,1162072,278732,0,...,243918,466054,0,1320710,1044817,,145857,772310,2111835,0
8,Hungary,0,988917,1980532,4476885,3172176,1565256,0,505909,1046447,...,682308,704870,2023575,1787769,1063307,1759397,309801,744824,2204271,1104097
9,Greece,361113,507445,1776109,4175061,2820813,1236996,0,767589,1051962,...,1799601,1572625,2049858,1677145,1112868,2599996,833969,1852788,1295237,1267903
10,South Africa,748336,1351446,3276734,7167751,5552131,8000254,2132347,1041847,1409597,...,1464664,2589816,3188171,2419842,2308622,4609462,924788,2009016,2548900,2068342
11,Jamaica,0,0,0,0,0,0,0,0,0,...,0,0,0,317697,297261,0,0,0,0,0
12,Netherlands,1850753,2655111,5465221,15067561,10430994,9975474,4388326,1632726,2615386,...,2103537,2136565,5720784,7423794,4042454,6609804,1338756,1953880,4590401,3212754
13,Czechia,618895,1174057,2011520,6610971,4400723,2104610,1459184,352470,966467,...,400223,442253,1895271,2801010,1283316,1740748,147445,735683,3043078,1398191
14,Kuwait,0,0,0,0,0,0,0,0,0,...,839076,0,0,2363570,1666038,0,661769,0,0,0
15,Philippines,5243134,5818634,14097441,32839486,23295180,9743847,14195000,3577307,7048065,...,3994681,6252102,14949472,10578935,7523563,14382992,2073443,4027405,8347510,7950502
16,Portugal,789416,903713,1841706,4296991,2823586,1966013,1528426,1508941,1048121,...,1323382,1132347,1673680,2082416,1321129,2489524,712895,1355963,1344160,1485608
17,Thailand,3341724,5200914,8850822,27230829,17944798,8996694,11956000,2484526,5078880,...,2446286,4618190,8866802,11293121,7910547,7935363,1177786,2316699,7504939,4552606
18,Trinidad & Tobago,0,0,0,0,0,0,0,0,0,...,0,0,0,975827,870753,0,0,0,0,0
19,Paraguay,0,165264,0,1564327,1114669,376976,0,0,0,...,0,0,0,361575,305790,0,0,0,358934,0
20,Switzerland (Italian),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,,0,0
21,Slovakia,146223,348420,588510,1990548,1304762,690443,486912,94550,245956,...,69024,202047,502989,900895,408209,448435,31530,193658,846839,493999
22,Poland,1300023,2431877,3967269,10558455,7367423,3601530,2691473,453329,1382916,...,995816,1136267,4252929,4485734,2692532,3165105,484495,1612281,4046509,3160256
23,Bahrain,0,0,562690,0,0,0,0,0,0,...,0,0,0,1011144,665503,0,0,0,0,0
24,Nigeria,96199,0,273301,1360313,0,0,0,60118,69744,...,49724,59572,0,444647,280973,202368,27915,140960,0,164215
25,Lithuania,59705,93014,176271,627672,406233,232647,136836,56082,0,...,158882,97230,0,352990,149352,0,53656,74700,216827,0
26,Russia,0,0,0,0,0,0,0,0,0,...,0,8672930,0,0,0,0,0,0,0,0
27,Bolivia (Plurinational State of),589218,715760,2278266,3617750,3166034,1312260,0,369499,801888,...,151386,311086,1444620,1261551,1407192,1885220,67950,370749,1422005,1108797
28,Colombia,1872949,2900411,9955023,17689425,13268925,6797886,7072395,2777753,3047666,...,1729740,1275996,5870418,5183590,4592912,7140604,751814,2468907,5473781,4085479
29,Chile,1280378,2464969,6942365,18864424,14607578,4942845,6784327,1619307,2278502,...,1383728,1454137,7848244,5575886,4362392,9247146,340611,1249402,3736319,3330635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,United Arab Emirates,0,3233078,3166819,12783189,10070159,6971750,5963288,1330549,3932053,...,1841925,2251242,5725369,6433021,5023723,6689950,1814406,2066386,4577959,3451574
61,Kenya,118525,0,317574,0,0,0,0,0,0,...,0,0,0,237597,260893,0,0,0,0,0
62,Estonia,111047,0,261445,0,0,0,0,96669,0,...,83069,77051,0,395958,203713,0,28037,128052,0,0
63,Switzerland,343811,1256245,0,8710255,5553658,3840989,3020845,,0,...,1361378,318294,0,2861176,1853733,0,582510,0,2230816,0
64,Argentina,4126139,2250863,9280502,17724843,8064697,3059469,8314077,3537279,4575831,...,1606400,2566778,13556234,5895501,7033029,17331732,935727,2399738,6169643,5646086
65,Japan,9670913,11595269,26373434,55280047,33881648,14655352,24366759,3431374,6628830,...,8658784,12831962,25185661,28137054,25390871,45256010,1692037,5737436,10116575,6017520
66,United Kingdom of Great Britain and Northern I...,25190193,22941205,62974363,114921662,96640433,70631008,53779860,14752839,32230026,...,34282266,30456328,57074453,48063406,39582694,80563081,15163328,22521717,40960481,26224037
67,New Zealand,707807,1977609,1808028,9306545,7092223,4970091,1406107,1466314,660494,...,2731097,2701225,5226081,3667555,2695355,7140832,876991,1900064,4839337,2790409
68,Cyprus,0,0,0,0,0,0,0,,0,...,52499,,0,0,0,0,153442,,0,0
69,Croatia,164337,175516,348389,1144369,769917,446454,0,134319,179012,...,162294,212418,368750,754087,461870,387357,87874,368650,0,309572
70,Egypt,0,0,1218558,1754341,0,0,0,110427,423545,...,265031,300567,799411,1031976,533993,913497,275749,156908,0,536616
71,Serbia,66156,0,190746,804153,280036,309632,0,32734,73124,...,30130,41653,123278,321479,179822,167189,52750,72757,0,146913
72,Latvia,57263,0,195571,0,0,0,0,64654,0,...,126835,104864,0,278832,139920,0,50812,96627,0,0
73,Mongolia,0,0,0,0,0,0,0,0,0,...,0,0,0,168832,100575,0,0,0,0,0
74,Australia,10901077,14706863,30969152,59103419,46825158,31939868,25200229,11108979,18390356,...,19087903,22418342,36164486,25999041,19719661,54385465,4549323,20135378,26997469,20494942
75,Central America+,0,0,0,0,0,0,0,0,0,...,2187416,0,0,0,0,0,1229654,0,0,0
76,Italy,5290741,5815017,18120047,34025303,22837545,8953417,12963449,8601080,9732200,...,10809921,9979666,20910968,13498204,10157185,22012517,6460290,10900780,10369507,11176894
77,Lesser Antilles,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,275882,0,0,0
78,Mexico,15100000,14955084,50940433,77594725,60058771,28322788,41420350,20224903,25720282,...,15945395,18396680,48566365,32298318,27069013,61748523,12650300,19547866,21249433,23857540
79,Czech Republic/Slovakia,0,0,0,0,0,0,0,0,0,...,467215,0,0,0,0,0,199692,0,0,0
80,Pakistan,0,0,0,0,0,0,0,0,0,...,,0,0,665852,665551,0,173936,0,0,0
81,Norway,1363039,1428924,4770579,8144856,5693803,4245447,2520919,1413442,1836203,...,1860067,2463643,5330071,3649837,2827030,5636566,1532085,2026533,2753609,2546889
82,Lebanon,337940,0,542714,0,0,0,0,173417,311894,...,101817,165313,576545,728148,629019,534555,96931,282342,0,523712
83,Aruba,0,0,0,0,0,0,0,0,0,...,0,0,0,94377,0,0,0,0,0,0
84,Spain,4146982,6869063,13640131,32666285,24809385,9716813,11354178,7714453,7763694,...,12030026,7601695,13049065,15118477,11950872,20220212,7693842,12440218,10622231,8862218
85,France,13562428,14715801,34270887,62387891,47689983,33114492,23219052,10284742,16891973,...,19197690,19792160,38962258,26194848,18790173,37765919,9725300,18370989,21262791,22289092
86,Denmark,918472,1067087,4578163,10254418,6853155,4801806,3084144,1053304,1891273,...,2220811,2292730,4432711,3880704,2468895,5081339,1103737,1529183,2918761,2128547
87,South Africa/Nigeria,0,0,0,0,0,0,0,0,0,...,1488822,0,0,0,0,0,926846,0,0,0
88,Brazil,12431089,13010094,47862465,85667373,66684469,36942425,40802843,20681912,28319218,...,13499792,15835025,47874596,28317380,31896083,63904807,4893267,12092872,30485847,27751884
89,Austria,787916,1518401,4086924,8376632,5690732,2839865,2844970,721073,1345894,...,1018284,1357508,3524852,2900488,1755851,3175739,414620,1665346,2745268,2561728

In [273]:
df_all = df_all.T
df_all.columns = df_all.loc['Country']
df_all = df_all.iloc[1:]
df_all

Country,North Macedonia,Slovenia,Iceland,Middle East Other,Germany,Hong Kong,Peru,Romania,Hungary,Greece,...,Pakistan,Norway,Lebanon,Aruba,Spain,France,Denmark,South Africa/Nigeria,Brazil,Austria
Ant-Man,0,35601,183341,0,5917308,6992049,2883625,0,0,361113,...,0,1363039,337940,0,4146982,13562428,918472,0,12431089,787916
Ant-Man and the Wasp,0,74081,233790,0,9424892,7663339,0,721491,988917,507445,...,0,1428924,0,0,6869063,14715801,1067087,0,13010094,1518401
Avengers Age of Ultron,0,122335,371887,0,31193932,17155906,7025935,1137226,1980532,1776109,...,0,4770579,542714,0,13640131,34270887,4578163,0,47862465,4086924
Avengers Endgame,0,611641,749185,0,64319294,29330722,0,3376295,4476885,4175061,...,0,8144856,0,0,32666285,62387891,10254418,0,85667373,8376632
Avengers Infinity War,0,325818,688359,0,45398141,20585253,0,2494062,3172176,2820813,...,0,5693803,0,0,24809385,47689983,6853155,0,66684469,5690732
Black Panther,0,213891,499124,0,23392484,8636071,0,1927259,1565256,1236996,...,0,4245447,0,0,9716813,33114492,4801806,0,36942425,2839865
Captain America Civil War,0,104910,337237,0,21770093,15473511,0,1162072,0,0,...,0,2520919,0,0,11354178,23219052,3084144,0,40802843,2844970
Captain America The First Avenger,0,68827,203750,0,4872496,2496989,2388006,278732,505909,767589,...,0,1413442,173417,0,7714453,10284742,1053304,0,20681912,721073
Captain America The Winter Soldier,0,80914,234458,0,12477139,7292579,3045013,0,1046447,1051962,...,0,1836203,311894,0,7763694,16891973,1891273,0,28319218,1345894
Captain Marvel,0,193749,394116,0,24309763,10193610,0,1676696,2100452,1564544,...,0,3317161,0,0,14700541,27093603,3546468,0,38152771,3548556
Doctor Strange,0,86007,289348,0,17402095,8172143,2457332,1499057,1205704,1175663,...,0,1725391,0,0,6975576,15688092,2285111,0,22746665,2146709
Guardians of the Galaxy,0,136116,423971,0,24601759,3325123,3464059,0,1625312,703988,...,0,3075250,180532,0,10149190,19894500,2646542,0,16820519,2531070
Guardians of the Galaxy Vol2,0,121461,473545,0,30165433,4756321,0,1145604,1713606,627157,...,0,2467458,0,0,10314253,24809137,3287701,0,20925686,3450633
Iron Man,,88033,278202,0,8560475,2844618,1521193,243918,682308,1799601,...,,1860067,101817,0,12030026,19197690,2220811,1488822,13499792,1018284
Iron Man 2,0,122290,198156,0,9254348,3760485,1862616,466054,704870,1572625,...,0,2463643,165313,0,7601695,19792160,2292730,0,15835025,1357508
Iron Man 3,0,178149,379577,0,24368143,13705128,5794748,0,2023575,2049858,...,0,5330071,576545,0,13049065,38962258,4432711,0,47874596,3524852
Spider-Man Far from Home,0,240848,363212,0,19415724,11572556,5366523,1320710,1787769,1677145,...,665852,3649837,728148,94377,15118477,26194848,3880704,0,28317380,2900488
Spider-Man Homecoming,0,104236,331584,0,11664461,9080755,5205100,1044817,1063307,1112868,...,665551,2827030,629019,0,11950872,18790173,2468895,0,31896083,1755851
The Avengers,0,163737,502028,0,30828359,12468825,8523744,,1759397,2599996,...,0,5636566,534555,0,20220212,37765919,5081339,0,63904807,3175739
The Incredible Hulk,0,60156,152733,1394480,2461403,1603230,1194068,145857,309801,833969,...,173936,1532085,96931,0,7693842,9725300,1103737,926846,4893267,414620
Thor,0,122992,261866,0,16007303,2490495,1970451,772310,744824,1852788,...,0,2026533,282342,0,12440218,18370989,1529183,0,12092872,1665346
Thor Ragnarok,0,188184,480305,0,19036145,7003816,0,2111835,2204271,1295237,...,0,2753609,0,0,10622231,21262791,2918761,0,30485847,2745268
Thor The Dark World,0,148061,306525,0,20356156,4730882,4040720,0,1104097,1267903,...,0,2546889,523712,0,8862218,22289092,2128547,0,27751884,2561728

In [274]:
df_all = df_all.reset_index()

In [275]:
df_all.columns = ['Name']+list(df_all.columns[1:])

In [276]:
df_all.to_csv('../clean/map-data-all.csv')

In [294]:
df_all.head()

,Name,North Macedonia,Slovenia,Iceland,Middle East Other,Germany,Hong Kong,Peru,Romania,Hungary,...,Pakistan,Norway,Lebanon,Aruba,Spain,France,Denmark,South Africa/Nigeria,Brazil,Austria
0,Ant-Man,0,35601,183341,0,5917308,6992049,2883625,0,0,...,0,1363039,337940,0,4146982,13562428,918472,0,12431089,787916
1,Ant-Man and the Wasp,0,74081,233790,0,9424892,7663339,0,721491,988917,...,0,1428924,0,0,6869063,14715801,1067087,0,13010094,1518401
2,Avengers Age of Ultron,0,122335,371887,0,31193932,17155906,7025935,1137226,1980532,...,0,4770579,542714,0,13640131,34270887,4578163,0,47862465,4086924
3,Avengers Endgame,0,611641,749185,0,64319294,29330722,0,3376295,4476885,...,0,8144856,0,0,32666285,62387891,10254418,0,85667373,8376632
4,Avengers Infinity War,0,325818,688359,0,45398141,20585253,0,2494062,3172176,...,0,5693803,0,0,24809385,47689983,6853155,0,66684469,5690732

In [280]:
reviews = pd.read_csv('../clean/genre_and_reviews_omdb_cleaned.csv')

In [286]:
reviews['Metascore'].head()

0    78.0
1    88.0
2    69.0
3    64.0
4    84.0
Name: Metascore, dtype: float64

In [298]:
titlesets = set(df_all['Name'])
titlesets2 = set(df_reviews['Title'])

In [304]:
len(set(df_all.columns))

91

In [311]:
intl_cols = (set(df_all.columns) - set(['Name','United States of America']))

In [339]:
domestic = []
international = []
for k,v in df_all.iterrows():
    cur_intl = 0
    for col in intl_cols:
        val = v[col]
        if type(val) is str:
            val = val.strip(' ')
        if val == '':
            val = 0
        cur_intl += float(val)
    cur_domestic = float(v['United States of America'])
    cur_total = cur_intl + cur_domestic
#     domestic.append(cur_domestic)
#     international.append(cur_intl)    
    domestic.append(round(cur_domestic/cur_total*100))
    international.append(round(cur_intl/cur_total*100))

In [340]:
# df_all2 = df_all
# df_all2['Domestic'] = domestic
# df_all2['International'] = international
# df_all2.head()

In [341]:
# df_all['United States of America']

In [343]:
df_all2 = reviews[reviews['Marvel Film']==1][['Title','Year','Metascore','imdbRating']].reset_index()
df_all2 = df_all2.drop('index',axis=1)
df_all2['Title'] = df_all2['Title'].apply(lambda x: x.replace(':',''))
df_all2['Title'] = df_all2['Title'].apply(lambda x: x.replace('. ',''))
df_all2['Domestic'] = domestic
df_all2['International'] = international
df_all2['Metascore'] = df_all2['Metascore']/100*5
df_all2['imdbRating'] = df_all2['imdbRating']/10*5
df_all2

,Title,Year,Metascore,imdbRating,Domestic,International
0,Avengers Endgame,2019,3.90,4.25,36,64
1,Spider-Man Far from Home,2019,3.45,3.80,36,64
2,Captain Marvel,2019,3.20,3.50,34,66
3,Avengers Infinity War,2018,3.40,4.25,32,68
4,Black Panther,2018,4.40,3.65,35,65
5,Ant-Man and the Wasp,2018,3.50,3.55,54,46
6,Spider-Man Homecoming,2017,3.65,3.70,38,62
7,Guardians of the Galaxy Vol2,2017,3.35,3.80,51,49
8,Thor Ragnarok,2017,3.70,3.95,38,62
9,Captain America Civil War,2016,3.75,3.90,39,61
10,Doctor Strange,2016,3.60,3.75,36,64
11,Avengers Age of Ultron,2015,3.30,3.65,47,53
12,Ant-Man,2015,3.20,3.65,46,54
13,Guardians of the Galaxy,2014,3.80,4.00,55,45
14,Captain America The Winter Soldier,2014,3.50,3.85,53,47
15,Iron Man 3,2013,3.10,3.60,35,65
16,Thor The Dark World,2013,2.70,3.45,35,65
17,The Avengers,2012,3.45,4.00,38,62
18,Thor,2011,2.85,3.50,43,57
19,Captain America The First Avenger,2011,3.30,3.45,51,49
20,Iron Man 2,2010,2.85,3.50,43,57
21,Iron Man,2008,3.95,3.95,38,62
22,The Incredible Hulk,2008,3.05,3.35,34,66

In [344]:
df_all2.to_csv('../clean/map-data-aux.csv')

In [43]:
df1 = df1[(df1['Market'] != 'Market') & (df1['Market'] != 'Europe, Middle East, and Africa')]
df1 = df1[~df1['Date'].isna()]
df1['Opening'] = df1['Opening'].apply(lambda x: x[1:].replace(',',''))
df1['Gross'] = df1['Gross'].apply(lambda x: x[1:].replace(',',''))
df1['Market'] = df1['Market'].apply(lambda x: map_countries(x))

In [46]:
df1.head()

                     Market       Date    Opening       Gross
1  United States of America  17-Jun-11  53174303   116601172
4                   Austria  28-Jul-11    267550      784489
5                   Belgium   3-Aug-11    478585     1003384
6                  Bulgaria   2-Sep-11     32186       73133
7                   Croatia  11-Aug-11     25331       82610