In [1]:
import pandas as pd
import numpy as np

In [5]:
df1 = pd.read_csv('../clean/BoxOffice_clean.csv')
df2 = pd.read_csv('../clean/genre_and_reviews_omdb_cleaned.csv')

In [6]:
df1.shape

(1200, 9)

In [7]:
df1.head()

,Unnamed: 0,Year,Rank,Movie,Worldwide,Domestic,%Domestic,Foreign,%Foreign
0,0,2019,1,Avengers: Endgame,2797800564,858373000.0,30.70,1.939428e+09,69.3
1,1,2019,2,The Lion King,1655146969,543486894.0,32.80,1.111660e+09,67.2
2,2,2019,3,Spider-Man: Far from Home,1131845802,390532085.0,34.50,7.413137e+08,65.5
3,3,2019,4,Captain Marvel,1128274794,426829839.0,37.80,7.014450e+08,62.2
4,4,2019,5,Toy Story 4,1073163682,433952080.0,40.40,6.392116e+08,59.6

In [14]:
c

1167

In [11]:
titles = set(df2['Title'])

In [38]:
df2.columns

Index(['Unnamed: 0', 'Actors', 'Awards', 'BoxOffice', 'Country', 'DVD',
       'Director', 'Error', 'Genre', 'Language', 'Metascore', 'Plot', 'Poster',
       'Production', 'Rated', 'Ratings', 'Released', 'Response', 'Runtime',
       'Title', 'Type', 'Website', 'Writer', 'Year', 'imdbID', 'imdbRating',
       'imdbVotes', 'totalSeasons', 'Marvel Film', 'DC Film', 'genre_cleaned'],
      dtype='object')

In [39]:
title_to_rev = {}
for k,v in df1.iterrows():
    title_to_rev[v['Movie']] = v['Worldwide']
    
title_to_genre = {}
for k,v in df2.iterrows():
    if v['Marvel Film'] == 1:
        title_to_genre[v['Title']] = 'Marvel'
    elif v['DC Film'] == 1:
        title_to_genre[v['Title']] = 'DC'        
    else:
        title_to_genre[v['Title']] = v['genre_cleaned']

In [40]:
all_keys = title_to_rev.keys() & title_to_genre.keys()

In [41]:
titles_arr = []
revenues_arr = []
genres_arr = []
for k in all_keys:
    titles_arr.append(k)
    revenues_arr.append(title_to_rev[k])
    genres_arr.append(title_to_genre[k])

In [42]:
df_result = pd.DataFrame({'title':titles_arr, 'revenues':revenues_arr, 'genres':genres_arr})
df_result.head()

             title   revenues                             genres
0       Cinderella  542351353        Drama/Family/Romance/Comedy
1  I, Frankenstein   71154592      Thriller/Mystery/Horror/Crime
2      Source Code  147332697        Drama/Family/Romance/Comedy
3  Bridge of Spies  165478348  Biography/History/Documentary/War
4       The Unborn   76514050        Drama/Family/Romance/Comedy

In [46]:
df_result[df_result['genres'] == 'Marvel'].shape, df_result[df_result['genres'] == 'DC'].shape

((23, 3), (12, 3))

In [48]:
df_result.to_csv('../clean/genre_revenue.csv')